/* ########################################################################## */
/* UI TEXT - MAKE THEM NOT SELECTABLE */
/* ########################################################################## */
.mediaDupes_nonSelectableText {
    -webkit-user-select:none;
    -moz-user-select: none;
}


body{
    display: none;
}

.container-after-titlebar{
    border-left: 1px solid #171717 !important;
    border-right: 1px solid #171717 !important;
    border-bottom: 1px solid #171717 !important;
}


/* ########################################################################## */
/* HEADINGS */
/* ########################################################################## */
h2{
    text-align: right;
    color: gray;
    font-size: 24px;
}

h3{
    text-align: right;
    color: gray;
    font-size: 16px;
}

h4{
    color: #c0392b;
}

h5{
    color: gray;
    fnt-size: 18px;
}

h6{
    font-size: 14px;
    color: gray;
}

/* ########################################################################## */
/* TEXTAREA */
/* ########################################################################## */
textarea {
    font-size: 12px !important;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    background-color: #ecf0f1 !important;


    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
    width: 32px;
    height:32px;
}

#textareaTodoList {
    background-image: url("../img/background/icon_textarea_todo_64x64.png");
}

#textareaLogOutput {
    background-image: url("../img/background/icon_textarea_log_64x64.png");
}


/* ########################################################################## */
/* ROW EMPTY */
/* ########################################################################## */
.row-empty{
    height: 20px !important;
}


/* ########################################################################## */
/* BUTTONS */
/* ########################################################################## */
.btnDefaultSize
{
    min-width: 100px;
}


/* ########################################################################## */
/* Use the “system font/San Francisco” */
/* ########################################################################## */
cssbody {
    font: caption;
}


/* ########################################################################## */
/* FADEIN THE WINDOW */
/* ########################################################################## */
@keyframes fadein {
  from
  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
    /* Disable text selection, or your app will feel like a web page */
    -webkit-user-select: none;
    -webkit-app-region: drag;

    /* Cover the whole window */
    /* height: 100%; */

    /* Make sure this matches the native window background color that you pass to
    * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
    background: rgb(255, 255, 255);

    /* Smoother startup */
    animation: fadein 0.5s;
}











.container-fluid{
    /*
    background-color: green;
    */
    height: 100%;
}

#foo{
    background-color: yellow;

}
