/* ########################################################################## */
/* UI TEXT - MAKE THEM NOT SELECTABLE */
/* ########################################################################## */
.mediaDupes_nonSelectableText {
    -webkit-user-select:none;
    -moz-user-select: none;
}


/* ########################################################################## */
/* HEADINGS */
/* ########################################################################## */
h2{
    text-align: right;
    color: gray;
    font-size: 24px;
}

h3{
    text-align: right;
    color: gray;
    font-size: 16px;
}

h4{
    color: #c0392b;
}

h5{
    color: gray;
}

h6{
    color: gray;
}

/* ########################################################################## */
/* TEXTAREA */
/* ########################################################################## */
textarea {
    font-size: 12px !important;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    /* - see #23
    background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
    background-size: 100% 36px;
    border: 1px solid #CCC;
    width: 100%;
    height: 400px;
    line-height: 12px;
    margin: 0 auto;
    padding: 2px 20px;
    */
}


/* ########################################################################## */
/* BUTTONS */
/* ########################################################################## */
.btnDefaultSize
{
    min-width: 80px;
}


/* ########################################################################## */
/* Use the “system font/San Francisco” */
/* ########################################################################## */
cssbody {
    font: caption;
}


/* ########################################################################## */
/* FADEIN THE WINDOW */
/* ########################################################################## */
@keyframes fadein {
  from
  {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app {
    /* Disable text selection, or your app will feel like a web page */
    -webkit-user-select: none;
    -webkit-app-region: drag;

    /* Cover the whole window */
    /* height: 100%; */

    /* Make sure this matches the native window background color that you pass to
    * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
    background: rgb(255, 255, 255);

    /* Smoother startup */
    animation: fadein 0.5s;
}

/* ########################################################################## */
/* ?? */
/* ########################################################################## */
.pt-4
{
    font-size: 8pt;
}
