[Desktop Entry]
Version=1.0
Type=Link
Name=File:Circle-icons-download.svg - Wikipedia
Comment=
Icon=user-bookmarks
URL=https://en.m.wikipedia.org/wiki/File:Circle-icons-download.svg
